<span class="question-main">
	<h2><%= question.body %></h2>
	<ul class="answers on-inactive">
		<% if (user) { %><li>
			<img src="<%= user.profile_pic_url %>">
			<p><%= user.answer.body %></p>
		</li><% } %>

		<% if (currentUser) { %><li>
			<img src="<%= currentUser.profile_pic_url %>">
			<p><%= currentUser.answer.body %></p>
		</li><% } %>
	</ul>

  <% if (currentUser) { %>
    <form class="question-re-answer on-activated">
      <% this.model.get("question").answer_choices
             .forEach(function (answerChoice) { %>
        <input
          type="radio"
          name="answer[answer_choice_id]"
          value="<%= answerChoice.id %>"
          <%= (answerChoice.id == currentUser.answer.id) ? "checked" : "" %>
        > <%= answerChoice.body %><br>
      <% }) %>
      <button class="submit">Answer</button>
      <button class="cancel can-activate">Cancel</button>
    </form>
  <% } %>

</span>
<span class="question-bottom can-activate on-inactive"><a>Re-answer</a></span>