<div class="gets-activated">
  <div class="group">
    <h3>I'm looking for</h3>
    <button class="edit can-activate">edit</button>
  </div>
  <ul>
  	<li>
  		<%= (user.get("likes").length > 1) ? "Everybody" : User.sexTexts[user.get("likes")[0]] %>
  	</li>
  	<li>Ages <%= user.escape("min_age") %>-<%= user.escape("max_age") %></li>
  </ul>
  <section class="modal">
    <form id="edit-interested-in">
      <h1>Who are you looking for?</h1>

      <div class="form-row group">
        <label><h4>Ages</h4>
    	    <input type="text" name="min_age" value="<%= user.get("min_age") %>">
        </label>
        <label><h4>to</h4>
    	    <input type="text" name="max_age" value="<%= user.get("max_age") %>">
        </label>
      </div>

      <button class="submit" id="edit-user-info">Save</button>
      <button class="cancel can-activate" id="edit-user-info">Cancel</button>
    </form>
    <div class="modal-screen"></div>
  </section>
</div>
<% if (currentUserId && currentUserId !== user.get("id")) { %>
	<button class="can-activate">Send Message</button>
  <p class="errors"></p>
  <section class="modal">
    <form id="send-message">
      <h1>
        Send <%= (user.get("gender") === "m") ? "him" : "her" %> a message
      </h1>

      <div class="form-row"><textarea name="body"></textarea></div>

      <button class="submit" id="edit-user-info">Send</button>
      <button class="cancel can-activate" id="edit-user-info">Cancel</button>
    </form>
  </section>
<% } %>