<section class="top" id="profile-head">
  <ul>
    <li class="username"><%= user.get("username") %></li>
    <li class="user-info">
      <%= user.get("age") %> · <%= user.get("gender") %> · <%= user.get("orientation") %> (<%= user.get("zip_code") %>)
    </li>
  </ul>
</section>