<div class="profile-top-wrapper activates-edit">
	<ul>
	  <li class="username"><%= user.get("username") %></li>
	  <li class="user-info">
	    <%= user.get("age") %> · <%= user.get("gender") %> · <%= user.get("orientation") %> (<%= user.get("zip_code") %>)
	  </li>
	</ul>
	<button class="edit">edit</button>
</div>

<section id="edit-user-info" class="modal">
  <form>
    <h1>Your basic information</h1>
    <div class="form-row">
      <label><h4>Username</h4>
        <input
          type="text"
          name="user[username]"
          value="<%= user.get("username") %>">
      </label>
    </div>

    <div class="form-row">
      <label><h4>I am</h4>
  	    <select name="user[gender]">
  	      <option value="f" <% if (user.get("gender") === "f") { %>
            selected<% } %>>Female</option>
  	      <option value="m" <% if (user.get("gender") === "m") { %>
            selected<% } %>>Male</option>
  	    </select>
      </label>
    </div>

    <div class="form-row">
  	  <label><h4>My birthday</h4>
  	    <input type="date" name="user[dob]" value="<%= user.get("dob") %>">
  	  </label>
    </div>

    <div class="form-row">
  	  <label><h4>Location</h3>
  	    <select name="user[country]">
  	      <option value="us" <% if (user.get("country") === "us") { %>
            selected<% } %>>United States</option>
  	      <option value="uk" <% if (user.get("country") === "uk") { %>
            selected<% } %>>United Kingdom</option>
  	      <option value="ca" <% if (user.get("country") === "ca") { %>
            selected<% } %>>Canada</option>
  	    </select>
  	  </label>
    </div>

    <div class="form-row">
  	  <label><h4></h4>
  	    <input
  	      type="text"
  	      name="user[zip_code]"
  	      value="<%= user.get("zip_code") %>">
  	  </label>
    </div>

    <button class="submit" id="edit-user-info">Save</button>
    <button class="cancel activates-edit" id="edit-user-info">Cancel</button>
  </form>
  <div class="modal-screen"></div>
</section>