<section class="matches" id="top">
  <h1>Matches</h1>
</section>

<section class="matches" id="main">
	<form id="search-params" action="<%= match_url %>" method="get" class="group">
    <select name="search[show_me]">
      <% (0..2).each do |i| %>
        <option value="<%= i %>" <%= "selected" if show_me(i) %>>
          <%= search_text[:show_me][i] %></option>
      <% end %>
    </select>

    <h3>who like</h3>
    <select name="search[who_like]">
      <% (0..2).each do |i| %>
        <option value="<%= i %>" <%= "selected" if who_like(i) %>>
          <%= search_text[:who_like][i] %></option>
      <% end %>
    </select>

    <h3>ages</h3>
    <input id="age" class="age" type="text" value="<%= min_age %>"
      name="search[min_age]">

    <h3>to</h3>
    <input id="age" class="age" type="text" value="<%= max_age %>"
       name="search[max_age]">

    <h3>order by</h3>
    <select name="search[order_by]">
      <% (0..1).each do |i| %>
        <option value="<%= i %>" <%= "selected" if order_by(i) %>>
          <%= search_text[:order_by][i] %></option>
      <% end %>
    </select>
		
	  <button class="submit">search</button>
	</form>

  <ul id="matches">
    <% @users.each do |user| %>
      <li>
        <a href="<%= user_url(user) %>">
          <% if user.profile_pic %>
            <img src="<%= user.profile_pic.photo_file.url(:index) %>">
          <% else %>
            <img src="<%= "./images/default_index.gif" %>">
          <% end %>
        </a>
        <ul class="match" id="<%= user.id %>">
          <li class="username"><%= link_to user.username, user_url(user) %></li>
          <li class="user-info"><%= user.age %> · <%= user.zip_code %></li>
					<li class="match-percentage"><%= user.match_pct.round %>% Match</li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>