<section class="matches" id="top">
  <h1>Matches</h1>
</section>

<section class="matches" id="main">
	<form id="search-params" action="<%= users_url %>" method="get">

    <h3>Show me</h3>

    <select name="show_me">
      <option value="f">Girls</option>
      <option value="m">Guys</option>
    </select>

    <h3>who like</h3>

    <select name="">
      <option value="f">girls</option>
      <option value="m">guys</option>
      <option value="m">guys</option>
    </select>

    <h3>ages</h3>

	  <input id="submit" type="submit" value="search">
	</form>

  <ul id="matches">
    <% @users.each do |user| %>
      <li>
        <ul class="match" id="<%= user.id %>">
          <li class="username">
            <%= link_to user.username, user_url(user) %>
          </li>
          <li class="user-info">
            <%= user.zip_code %> · <%= user.age %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>