<section class="matches" id="top">
  <h1>Matches</h1>
</section>

<section class="matches" id="main">
	<form id="search-params" action="<%= match_url %>" method="get" class="group">

    <h3>Show me</h3>
    <select name="search[show_me]">
      <option value="0">Girls</option>
      <option value="1">Guys</option>
      <option value="2">Guys and girls</option>
    </select>

    <h3>who like</h3>
    <select name="search[who_like]">
      <option value="0">girls</option>
      <option value="1">guys</option>
      <option value="2">both</option>
    </select>

    <h3>ages</h3>
    <input id="age" class="age" type="text" value="18" name="search[min_age]">

    <h3>to</h3>
    <input id="age" class="age" type="text" value="30" name="search[max_age]">

	  <button class="submit">search</button>
	</form>

  <ul id="matches">
    <% @users.each do |user| %>
      <li>
        <a href="<%= user_url(user) %>">
          <% if user.profile_pic %>
            <img src="<%= user.profile_pic.photo_file.url(:index) %>">
          <% else %>
            <img src="<%= "./images/default_index.gif" %>">
          <% end %>
        </a>
        <ul class="match" id="<%= user.id %>">
          <li class="username">
            <%= link_to user.username, user_url(user) %>
          </li>
          <li class="user-info">
            <%= user.zip_code %> · <%= user.age %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>