<header>
	<nav class="group" id="sign-up">
		<h1 id="logo" class="light">josh</h1>
		<h1 id="logo" class="dark">k</h1>
		<h1 id="logo" class="light">cupid</h1>
		<ul>
	    <li>Already a member?</li>
	    <li><%= link_to "Sign in", new_session_url %></li>
	  </ul>
	</nav>
</header>

<main id="sign-up">

	<%= render "shared/errors" %>

	<form class="first" id="new-user" action="<%= users_url %>" method="post">
	  <input
	    type="hidden"
	    name="authenticity_token"
	    value="<%= form_authenticity_token %>">

	  <label class="first">
	    I am
	    <select name="user[gender]">
	      <option value="f">Female</option>
	      <option value="m">Male</option>
	    </select>
	  </label>

	  <label class="first">
	    and
	    <select name="user[orientation]">
	      <option value="straight">Straight</option>
	      <option value="gay">Gay</option>
	      <option value="bisexual">Bisexual</option>
	    </select>
	  </label>

	  <label class="second">
	    Birthdate
	    <input type="date" name="user[dob]" value="1990-06-10">
	  </label>

	  <label class="second">
	    Country
	    <select name="user[country]">
	      <option value="us">United States</option>
	      <option value="uk">United Kingdom</option>
	      <option value="ca">Canada</option>
	    </select>
	  </label>

	  <label class="second">
	    Zip code
	    <input
	      type="text"
	      name="user[zip_code]"
	      value="<%= @user.zip_code || "i.e. 10001" %>">
	  </label>


	  <label class="second">
	    Email Address
	    <input type="text" name="user[email]" value="<%= @user.email %>">
	  </label>

	  <label class="third">
	    Username
	    <input type="text" name="user[username]" value="<%= @user.username %>">
	  </label>


	  <label class="third">
	    Password
	    <input type="password" name="user[password]" value="<%= @user.password %>">
	  </label>
		<button class="first second" id="next">Next</button>
	  <input class="submit third" id="submit" type="submit" value="done">
	</form>

	<p>OR</p>

  <form id="demo-user" action="<%= session_url %>" method="post">
	  <input
	    type="hidden"
	    name="authenticity_token"
	    value="<%= form_authenticity_token %>">

    <input type="hidden" name="user[username]" value="simone">
    <input type="hidden" name="user[password]" value="glitch">
	  <input class="submit demo-user" id="submit"
      type="submit" value="Sign in as demo user">
  </form>
	
	<script>
	$(document).ready(function () {
		$("#next").click(function() {
			event.preventDefault();
			
			$form = $("#new-user");
			if ($form.hasClass("first")) {
				$form.toggleClass("first second")
			} else {
				$form.toggleClass("second third")
			}
		});
	});
	</script>
</main>