<section class="top">
  <ul class="profile" id="<%= @user.id %>">
    <li class="username"><%= @user.username %></li>
    <li class="user-info">
      <%= @user.age %>/<%= @user.gender %>/<%= @user.orientation %>
    </li>
		<li class="user-info"><%= @user.zip_code %></li>
  </ul>
</section>