<!DOCTYPE html>
<html>
<head>
  <title>OkClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>
  <nav>
    <% if current_user %>
      <ul>
        <li><%= link_to "profile", user_url(current_user) %></li>
        <li><%= button_to "Sign out", session_url, method: :delete %></li>
      </ul>
    <% else %>
      <h1 class="logo">okclone</h1>
      <ul>
        <li>Already a member?</li>
        <li><%= link_to "Sign in", new_session_url %></li>
      </ul>
    <% end %>
  </nav>
</header>

<main>
  <%= yield %>
</main>

</body>
</html>
